<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8" />
		<link rel="icon" href="images/icon.png">

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/avatar2.jpg" alt="" /></a>
					<h1><strong>Mario Iovanna</strong>
                        <br />
						Junior Web Developer
                    </h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>My Portfolio</h2>
						</header>
						<p>
							An energetic and imaginative young web developer who is able to work alongside other talented IT professionals in
							creating websites to the very highest standards.
                            <br />
                            I do have a high awareness of industry issues and trends, particularly in regard to accessibility usability, emerging
                            technologies.
                            <br />
							Knowledge in front-end and back-end web development, skilled in all stages of the development cycle for dynamic web
							projects. Strong background in project management and customer relations.
							<br />
							Comprehensive knowledge of HTML, XHTML, CSS, JavaScript, Node.js, HTML5 and CSS3. Creating websites that are user-friendly,
							effective and appealing. Experience in graphic design, creating and editing pictures.
							<br />
							<br />
                            Right now I'm looking for an entry level position with an exciting company that wants to attract talented people.
						</p>
						<ul class="actions">
							<li><a href="https://docs.google.com/document/d/1ngC6XJe5kTN7MyqQjeGnxReVmk9Wbrpna-JCnEZ8Bws/edit?usp=sharing" target="_blank" class="button">Resume</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">

							<!-- Last Work-->
							<article class="6u 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/portfolio/master/img/travel.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/portfolio/master/img/travel.PNG" alt="" /></a>
								<h3>Travel blog, dedicated to women's traveling by themselves.
									<br />Page under construction.</h3>
								<p>Website develop using Node.js, HTML5, CSS3, javascript and adding @query to make it responsive on others diveces.</p>

								<a href="https://github.com/marioiovanna/Travel-Blog" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<!--<a style="float: right" href="" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>-->
							</article>

							<!-- Work N0 -->
							<article class="6u 12u$(xsmall) work-item">
								<a href="images/crypto.PNG" class="image fit thumb"><img src="images/crypto.PNG" alt="" /></a>
								<h3>Cryptocurrencies</h3>
								<p>Website to trade crypto coins, use API request from websocket, MongoDB, Node.js, HTML, CSS and javascript.</p>

								<a href="https://github.com/david-mansen/crypto" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<!--<a style="float: right" href="" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>-->
							</article>

							<!-- Work N1 -->
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/Back-Future-Game/master/assests/img/game-pics/main.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/Back-Future-Game/master/assests/img/game-pics/main.PNG" alt="" /></a>
								<h3>RPG game based on Back To The Future universe</h3>
								<p> Game created on HTML, CSS and Javascript. Using concept learn on class and using
									images from the web.</p>

								<a href="https://github.com/marioiovanna/Back-Future-Game" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<a style="float: right" href="https://marioiovanna.github.io/Back-Future-Game/" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>
							</article>

							<!-- Work N2 -->
							<article class="6u 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/TriviaGame/master/assets/img/game-screens/start.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/TriviaGame/master/assets/img/game-screens/start.PNG" alt="" /></a>
								<h3>Trivia Game</h3>
								<p>Trivia game base on random questions about The FLinstone universe. It used javascript system for generate random questions and answers, with CSS and HTML.</p>

								<a href="https://github.com/marioiovanna/TriviaGame" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<a style="float: right" href="https://marioiovanna.github.io/TriviaGame/" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>
							</article>

							<!-- Work N3-->
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/Psychic-Game/master/assets/img/work.png" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/Psychic-Game/master/assets/img/work.png" alt="" /></a>
								<h3>Psychic Game</h3>
								<p>Classic game base on guest the word that the system choose. Used of HTML, CSS and javascript languages.</p>

								<a href="https://github.com/marioiovanna/Psychic-Game" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<a style="float: right" href="https://marioiovanna.github.io/Psychic-Game/" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>
							</article>

							<!-- Work N4 -->
							<article class="6u 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/FriendFinder/master/app/public/app-pic/main.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/FriendFinder/master/app/public/app-pic/main.PNG" alt="" /></a>
								<h3>Pet Finder App</h3>
								<p>App create as a friend match. It use javascript to find a dog that match with your chooses base on points. It was created using HTML, CSS and javascript, with npm packages.</p>

								<a href="https://github.com/marioiovanna/FriendFinder" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<a style="float: right" href="https://fathomless-sands-65102.herokuapp.com/index.html" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>
							</article>

							<!-- Work N5 -->
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/Clock-Jquery/master/clock.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/Clock-Jquery/master/clock.PNG" alt="" /></a>
								<h3>System Clock</h3>
								<p>Basic clock create using Jquery, HTML and CSS. Display current time and date on system.</p>

								<a href="https://github.com/marioiovanna/Clock-Jquery" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
								<a style="float: right" href="https://marioiovanna.github.io/Clock-Jquery/" target="_blank" class="icon fa-laptop"><span class="label"></span> Live Website</a>
							</article>

							<!-- Work N6 -->
							<article class="6u$ 12u$(xsmall) work-item">
								<a href="https://raw.githubusercontent.com/marioiovanna/MySQL-Bieber/master/pics_readme/Costumer1.PNG" class="image fit thumb"><img src="https://raw.githubusercontent.com/marioiovanna/MySQL-Bieber/master/pics_readme/Costumer1.PNG" alt="" /></a>
								<h3>POS platform for store.</h3>
								<p>Fake system create as a selling point with management interface. System base on express with MySql database, write on javascript language. </p>

								<a href="https://github.com/marioiovanna/MySQL-Bieber" target="_blank" class="icon fa-github"><span class="label"></span> Github Page</a>
							</article>

						</div>
						<ul class="actions">
							<li><a href="https://github.com/marioiovanna" class="button">Full Portfolio</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Message" rows="4">
											</textarea>
										</div>
									</div>
									<br />
									<span id="message_ok"></span>
								</form>
								<ul class="actions">
									<li><input id="send_email" type="submit" value="Send Message" /></li>
								</ul>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon fa-home"><span class="label">Address</span></h3>
										Orlando, FL 32803<br />
										United States
									</li>
									<li>
										<h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
										(970) 948-3090
									</li>
									<li>
										<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                                        marioiovanna@hotmail.com
									</li>
								</ul>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/mario-iovanna-05110a33/" target="_blank" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/marioiovanna" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.facebook.com/mario.iovanna.5" target="_blank" class="icon fa-facebook"><span class="label">Dribbble</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

		<!-- script Email send -->
		<script src="js/emailsender.js"></script>



	</body>
</html>